@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?57qwub');
    src:    url('fonts/icomoon.eot?57qwub#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?57qwub') format('truetype'),
        url('fonts/icomoon.woff?57qwub') format('woff'),
        url('fonts/icomoon.svg?57qwub#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-seed:before {
    content: "\a1";
}
.icon-corn:before {
    content: "\a2";
}
.icon-cow:before {
    content: "\a3";
}
.icon-refinery:before {
    content: "\e4";
}
.icon-fast-food:before {
    content: "\a5";
}
.icon-pipeline:before {
    content: "\e5";
}
.icon-assult-rifle:before {
    content: "\e907";
}
.icon-missle:before {
    content: "\e908";
}
.icon-vote:before {
    content: "\c0";
}
.icon-megaphone:before {
    content: "\c1";
}
.icon-dollar:before {
    content: "\b2";
}
/*.icon-dollars:before {
    content: "\b25";
}*/
.icon-oil-drop:before {
    content: "\e1";
}
.icon-bank:before {
    content: "\b4";
}
.icon-tower:before {
    content: "\b5";
}
.icon-coin:before {
    content: "\b1";
}
.icon-money-bag:before {
    content: "\b3";
}
.icon-tank:before {
    content: "\51";
}
.icon-gun:before {
    content: "\53";
}
.icon-bullet:before {
    content: "\54";
}
.icon-derrick:before {
    content: "\e3";
}
.icon-oil-can:before {
    content: "\e2";
}
