/*
    Colors:
    Black = #00100B
    White = #FAFAFF
    Oil-Gray = #818479
    Agr-Yellow = #DAFF7D
    Mil-Red = #DB5461
    Con-Blue = #246EB9
    Fin-Green = #4CB944
    Neutral-Green = #D2E4C4
    Pork-Pink =
    Bench-Brown = #A57548
*/

html {
  background: url(us-capitol.png) no-repeat center center fixed;
  background-size: cover;
  background-color: #FAFAFF;
  color: #00100B;
  overflow: hidden;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
}
body {
  overflow: auto;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
}
h1 {
  text-align: center;
}

h5 {
  font-size: 1.1em;
}

.center {
  text-align: center;
}

.main {
  max-width: 100%;
  margin: 0 auto;
}

/************ HEADER, BENCH, && UNDO ***********/
.game-title {
  color: #000;
  font-size: 50px;
  padding: 10px, 25px;
}

.sub-title {
  margin-top: -30px;
}

.bench {
  height: 70px;
  width: 500px;
}

.bench-container {
    color: black;
    background-color: rgba(165, 117, 72, .5);
    float: left;
    margin-left: 5px;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.undo-button {
  float: right;
  color: #00100B;
  font-weight: 700;
  border: 3px solid #246EB9;
  border-radius: 10%;
  background-color: #FAFAFF;
  padding: 10px;
  font-size: 12pt;
}

.undo-cost {
  font-size: 8pt;
  color: #DB5461;
  display: block;
}

.undo-button:disabled {
  border: none;
  background-color: #818479;
}


/************ WHITE PAPER & HOLDS ***********/
.white-paper-panel {
  float: left;
}

.scoreboard {
 border: 1px solid #818479;
 background: url(crumpled_paper.jpg);
 background-position: center;
 background-size: 100%;
 background-color: #DFDFDB;
 height: 50%;
 display: block;
 position: relative;
}

.paper-heading {
 border-bottom: 1px solid #818479;
 text-align: center;
}

.paper-body {
 padding: 0 10px;
}

.chief-button {
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: 10px;
  color: #FFF;
  text-align: center;
  background-color: red;
  border: 3px solid #000;
  border-radius: 4px;
}

.chief-button:hover {
  background-color: #CC0000;
}

.hold-area {
  display: inline-block;
  float: left;
}

.holder {
  background-color: #A57548;
  width: 77.5px;
  border: 1px solid #246EB9;
  float: left;
  margin: 5px;
}

/************ GAMEBOARD ***********/
.game-grid {
  background-color: #D2E4C4;
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 5px 0 20px 5px;
  border: 5px solid #000;
}
.grid-square {
  display: inline-block;
  position: relative;
  margin-bottom: -4px;
}
.eligible {
  background-color: #D2E4C4;
}
.eligible:hover {
  background: #FAFAFF !important;
}

/************ OVERLAY ***********/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.875);
  width: 90%;
  height: 90%;
  border: 5px #818479 solid;
  overflow-y: auto;
}

.modalBanner {
    width: 100%;
    display: block;
}

.modalWrapper {
    display: flex;
    flex-direction: column;
}

.leftPanel {
  margin: 20px;
  flex-basis: 40vw;
  flex: 0 1;
}

.mainPanel {
    flex-basis: 60vw;
    flex: 1 0;
}

#welcomeScreen {
    display: none;
}

.loginOption,
.choice-button {
  margin: 1% 2% 0 0;
  padding: 2%;
  background-color: #4CB944;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 2%;
  color: white;
}

.helpWrapper {
    margin: 0 10vw;
}

.helpWrapper img {
    margin: 0 auto 3em;
    display: block;
    max-width: 100%;
}

.inline-help-images {
    margin: 0 10vw 3em;
}

.inline-help-images img {
    display: inline;
    margin: 0;
}

.helpTab {
  border: 3px #818479 solid;
  color: #FAFAFF;
  background-color: #DB5461;
  text-align: center;
  padding: 10px;
  margin-left: 10%;
  border-bottom: none;
  opacity: 1;
}

.helpTab:last-child {
  border-bottom: 3px #818479 solid;
}

.closeButton {
  border: 1px #DAFF7D solid;
  border-radius: 100%;
  color: #FAFAFF;
  background-color: #00100B;
  padding: 10px 13px;
  position: absolute;
  top: 0px;
  right: 10px;
}

.funds,
.highScores {
  border: 5px #818479 solid;
  background-color: #D2E4C4;
  padding: 1% 2.5%;
  float: right;
  margin-right: 10px;
}

.funds h3,
.highScores h3 {
  margin: 0;
}

.highScores ol{
  margin-top: auto;
  margin-bottom: auto;
}

.calculation {
  display: block;
  list-style: none;
  text-align: right;
  margin: 0 0 2% -1%;
  padding: 0;
  font-size: 2.5em;
}

.midNum {
  padding-bottom: 1px;
  text-decoration: underline;
}

.highRecord {
  font-size: 1.5em;
}

/* for larger screens */
@media (min-width: 900px) {
  .main {
    max-width: 900px;
  }
  .white-paper-panel {
    width: 30%;
  }
  .game-grid {
    width: 68%;
  }
  .modalWrapper {
      flex-direction: row;
  }
  .short-help-image {
      position: relative;
      left: -80px;
  }
}
