html {
  background: url(DC-Night-Tour.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #0c0c0c;
  overflow: hidden;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
}
body {
  overflow: auto;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
}